  <h3>Congratulations <span class="text-primary"><%= @payment.name_on_card %></span></h3>
  <p>Your payment has been done successfully! Please check your payment details below:</p>
  <div class="row justify-content-center">
    <div class="p-4">
      <p class="d-table-row"><span class="d-table-cell pr-4">ID:</span> <span class="table-cell"><%= @payment.id %></span></p>
      <p class="d-table-row"><span class="d-table-cell pr-4">Card Number</span> <span class="table-cell"><%= @payment.card_number.gsub(/(.{4})(?=.)/, '\1 \2') %></span> </p>
      <p class="d-table-row"><span class="d-table-cell pr-4">Email Address:</span> <span class="table-cell"><%= @payment.email_address %></span> </p>
      <p class="d-table-row"><span class="d-table-cell pr-4">Billing Address</span> <span class="table-cell"><%= @payment.billing_address %></span> </p>
      <% if not @payment.description.blank? %>
        <p class="d-table-row"><span class="d-table-cell pr-4">Description:</span><%= @payment.description %></p>
      <% end %>
    </div>
  </div>

<%= link_to "Back To Home", root_path %>